{% extends 'task/base_visitor.html' %}
{% block title %}Register{% endblock %}
{% block register_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Register for an Account</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'task/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    Already have an account? <a href="{% url 'task:login_user' %}">Click here</a> to log in.
                </div>
                <div style="text-align: center;" >
                    <p>--OR--</p>
                    <a class="btn" href="{% url 'social:begin' 'facebook' %}">
                        <i class="fa fa-facebook-square" style="font-size:48px; color:#3b5998"></i>
                    </a>
                    <a class="btn" href="{% url 'social:begin' 'github' %}">
                        <i class="fa fa-github" style="font-size:48px; color: black;"></i>
                    </a>
                    <a class="btn" href="{% url 'social:begin' 'twitter' %}">
                        <i class="fa fa-twitter" style="font-size:48px; color: #00aced;"></i>
                    </a>
                    <a class="btn" href="{% url 'social:begin' 'google-oauth2' %}">
                        <i class="fa fa-google" style="font-size:48px; color: #dd4b39;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

